<div class="app-side-nav">
    <div class="hamberger-menu-block">
        <span>
            <i class="pi pi-th-large"></i>
        </span>
    </div>
    <ul class="menu-list">
        <li class="list-item" [ngClass]="{'active': true}">
            <span class="icon-block" pTooltip="View Audits" tooltipPosition="right"><i class="pi pi-list"></i></span>
            <!-- <span class="menu-heading">View Audits</span> -->
        </li>
        <li class="list-item">
            <span class="icon-block" pTooltip="View Servers" tooltipPosition="right"><i class="pi pi-database"></i></span>
            <!-- <span class="menu-heading">View Servers</span> -->
        </li>
    </ul>
</div>