// commons styles for Page heading
h1.page-heading {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    color: #596880;
}

a {
    text-decoration: none;
    color: $primary;
}