@import "../styles/helpers/variables";
.app-container {
    .content-area {
        display: flex;
        height: calc(100vh - $headerHeight - $footerHeight);
        overflow: auto;
        margin-top: $headerHeight;
        margin-left: 0; // $menuDefaultWidth;
        padding: $containerYPadding $containerXPadding;
        background-color: $containerBGColor;
    }
}